footer#worlds_end {
  *zoom: 1;
  /*padding: 1.5em 20px;*/
  background: url(../images/arches.png);
  background-color:#000000;
  font-size: small;
}
footer#worlds_end:before,
footer#worlds_end:after {
  content: "";
  display: table;
}
footer#worlds_end:after {
  clear: both;
}
footer#worlds_end div#license {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  width: 45%;
  padding: 0 20px;
  vertical-align:middle;
  line-height: 50px;
}
footer#worlds_end div#contact {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: right;
  width: 45%;
  padding: 0 20px;
  text-align: right;
  vertical-align:middle;
  line-height: 50px;
}
footer#worlds_end div#social-icons {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: center;
   width: 10%;
   vertical-align:middle;
}

#footer-links li{
	display:inline;
}

#footer-list li{
	display:inline;
}

#social-icons img{
	width:50px;
	height:50px;
}