.grow{
	transition:0.5s; /* Animation time */
    -webkit-transition:0.5s; /* For Safari */
}

.grow:hover{
	-webkit-box-shadow: 0px 0px 3px 3px #78aace;
	-moz-box-shadow: 0px 0px 3px 3px #78aace;
	box-shadow: 0px 0px 3px 3px #78aace; 
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#first{
	background:#4e9a81;
	background-image:url("../images/masonry/first.jpg");
	background-size:100% 100%;
}

#second{
	background:#4871d1;
}

#third{
	background: #2A75A9;
	background-image:url("../images/masonry/diabetes-myths.jpg");
	background-repeat:no-repeat;
	background-size:100% 100%;
}
#forth{
	background: #f89058;
}
#fifth	{
	background: #644436;
}
#sixth{
	background:#c96b00;
	background-image:url("../images/masonry/food-habits.jpg");
	background-repeat:no-repeat;
	background-size:100% 100%;
}
#seventh{
	background:#bbb;
	background-image:url("../images/masonry/running.jpg");
	background-repeat:no-repeat;
	background-size:100% 100%;
}
#eighth{
	background:#444;
	background-image:url("../images/masonry/Sign-and-Symptoms.jpg");
	background-repeat:no-repeat;
	background-size:100% 100%;
}
#ninth{
	background:#de352c;
	background-image:url("../images/masonry/pregnancy-and-diabetes.jpg");
	background-repeat:no-repeat;
	background-size:100% 100%;
}
#tenth{
	background:#eea900;
	background-image:url("../images/masonry/male-and-female-signs.jpg");
	background-repeat:no-repeat;
	background-size:100% 100%;
}
#eleventh{
	background:#00abf1;
}
#twelfth{
	background:#927ecc;
}