div.grow{
    position: absolute;
}

#first{
	background:#4e9a81;
}

#second{
	background:#4871d1;
}

#third{
	background: #2A75A9;
}
#forth{
	background: #f89058;
}
#fifth	{
	background: #644436;
}
#sixth{
	background:#c96b00;
}
#seventh{
	background:#bbb;
}
#eighth{
	background:#444;
}
#ninth{
	background:#de352c;
}
#tenth{
	background:#eea900;
}
#eleventh{
	background:#00abf1;
}
#twelfth{
	background:#927ecc;
}